.dropdown-menu {
  left: -100px !important;
}
a:hover {
  cursor: pointer;
}
.navbar-dark .navbar-brand {
  color: #fff !important;
}
.brand-icon {
  font-size: 33px;
  color: #ff5151;
  margin-right: 11px;
}
