@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~mdbootstrap/css/mdb.min.css';

html,
body {
  height: 100%;
}
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}
.unique-color {
  background-color: #3f729b !important;
}
